#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#
    
# Fast Charge
on boot
    chown system system /sys/class/qcom-battery/restricted_charging
    chmod 0666 /sys/class/qcom-battery/restricted_charging
    chown system system /sys/class/qcom-battery/restricted_current
    chmod 0666 /sys/class/qcom-battery/restricted_current
