service vendor.power-hal-aidl /vendor/bin/hw/android.hardware.power-service.xiaomi-libperfmgr
    class hal
    user root
    group system
    priority -20

on late-fs
    start vendor.power-hal-aidl

# Restart powerHAL when framework died
on property:init.svc.zygote=restarting && property:vendor.powerhal.state=*
    setprop vendor.powerhal.state ""
    setprop vendor.powerhal.audio ""
    setprop vendor.powerhal.rendering ""
    restart vendor.power-hal-aidl

# Restart powerHAL when debug property set
on property:ro.debuggable=1 && property:vendor.powerhal.config.debug=*
    restart vendor.power-hal-aidl

on property:persist.vendor.powerhal.config.debug=*
    setprop vendor.powerhal.config.debug ${persist.vendor.powerhal.config.debug}

